
/* General */
:root{
  --primary: #3758CF;
  --light-contrast: #EFF0F3;
  --dark-contrast: #020C2E;
  --secondary-light: #788DDB;
  --secondary-dark: #0B2EAD;
}

/* Home */

/* About */

/* Contact */